@page "/todo"

<h1>Liste des taches (@todos.Count(todo => !todo.IsDone))</h1>


<div class="row">

  <div class="col-4">
    <form class="row row-cols-lg-auto g-3 align-items-center">
       <div class="col-12">
            <input type="text" class="form-control form-control-sm mx-2" placeholder="Nouvelle tâche" @bind="newTodoTitle">
        </div>
        <br>
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-primary" @onclick="AddTodo" @onclick:preventDefault>Ajouter une tâche</button>
        </div>
    </form>
 </div>

</div>



@code {
    private List<TodoItem> todos = new();
        private string newTodoTitle;

         private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todos.Add(new TodoItem
            {
                Id = Guid.NewGuid().ToString(),
                Title = newTodoTitle
                @* IsDone = false *@
            });

            newTodoTitle = string.Empty;
        }
    }
}


